<%= form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :prefecture_id, "都道府県" %>
    <%= form.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :city_id, "市町村" %>
    <%= form.collection_select :city_id, City.none, :id, :name, prompt: "都道府県を選択してください" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script src="/assets/posts/form.js" type="text/javascript"></script>
